@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


html,body{
  margin:0px;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    
}
form {
    
}
  #number{
    height:20px;
    width:20%;
    
    text-align:center;
  }
   
textarea{
  width:70%
}
  
  button{
    width:75px;
    margin: 5px;
  }
#main{
  text-align: center;
  background: white;
  max-width: 40%;
  margin: 60px auto;
  border-radius: 30px;
  padding: 15px;

}
  #contact-info{
   padding:0px 5px 10px; 
  }

.labelright{
 justify-self: end;
 
}
.form-center {
    display: grid;
     align-items:center;
    grid-template-columns: 40% 40%;
    grid-row-gap: 10px;
    grid-column-gap: 5px;  }
  
#footer{
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  padding: 10px 30px;
  text-align: right;
  background-image: linear-gradient(to right, hsla(220, 20%, 80%, 0), hsla(220, 20%, 70%, .75));  
  //background-color: hsla(220, 20%, 80%, .60);
  }
  
  #foreground{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  background-color: hsla(208, 0%, 20%, .5);
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23a0c8ff' fill-opacity='0.23' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#background{
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  z-index: 1;
  background: radial-gradient(hsla(242, 100%, 60%, 1), hsla(0, 100%, 60%, 1));
  background-size:200% 200%;
  animation: gradient 10s ease infinite;
  
}

@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
  25% {
		background-position: 0% 75%;
	}
	50% {
		background-position: 75% 75%;
	}
  75% {
		background-position: 75% 0%;
	}
	100% {
		background-position: 0% 0%;
	}
